.RepositoriesList {
    display: flex;
    flex-direction: column;
}

.RepositoriesTitle {
    font-weight: bold;
    color: dimgray;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.Loader {
    width: 64px;
    height: 64px;
}